#wrapper {
    margin: 0 auto;
    padding-top: 40px;
}

table {
    margin: 0 auto;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

.MathJax_Display {
    margin: 20px auto;
}

.inline-link {
    opacity: 0;
    display: block;
    position: absolute;
    background-color: white;
    border: solid white;
    border-width: 0 4px;
    box-shadow: 1px 1px 3px black;
    border-radius: 4px;
}

td:hover .inline-link {
    opacity: 0.5;
}

td:hover .inline-link:hover {
    opacity: 1;
}
